<div class="{{classNames.container}}">
    <div class="{{classNames.imageInfo}}">
        <h1 class="{{classNames.imageName}}"></h1>
        <span class="{{classNames.imageWidth}}"></span>
        <br>
        <span class="{{classNames.imageHeight}}"></span>
    </div>
    <div class="{{classNames.setting}}"></div>
</div>
