{{#if onScaling}}
    Current width: <span class="{{className spanText}}">{{currentWidth}}px</span>
    <br>
    Current height: <span class="{{className spanText}}">{{currentHeight}}px</span>
{{else}}
    <div class="{{className imageInformation}}">
        <h1 class="{{className title}}">{{imageName}}</h1>
        <div class="{{className original}}">
            Original width: <span class="{{className spanText}}">{{originalWidth}}px</span>
            <br>
            Original height: <span class="{{className spanText}}">{{originalHeight}}px</span>
        </div>
        <div class="{{className current}}">
            Current width: <span class="{{className spanText}}">{{currentWidth}}px</span>
            <br>
            Current height: <span class="{{className spanText}}">{{currentHeight}}px</span>
        </div>
    </div>
{{/if}}

