<div class="{{classNames.imageInformation}}">
    <h1 class="{{classNames.imageName}}">{{imageName}}</h1>
    <div class="{{classNames.original}}">
        Original width: <span class="{{classNames.spanText}}">{{originalWidth}}</span>
        <br>
        Original height: <span class="{{classNames.spanText}}">{{originalHeight}}</span>
    </div>
    <div class="{{classNames.current}}">
        Current width: <span class="{{classNames.spanText}}">{{currentWidth}}</span>
        <br>
        Current height: <span class="{{classNames.spanText}}">{{currentHeight}}</span>
    </div>
</div>
