<div class="{{className "container"}} {{className name}}" style="margin:auto;">
    <div class="{{className menu}}" style="text-align:center">
        Menu
    </div>
    <div class="{{className subMenu}}" style="text-align:center">
        Sub menu
    </div>
    <canvas class="{{className canvas}}"></canvas>
</div>
