<div class="{{className "container"}} {{className name}}" style="margin:auto;">
    <div class="{{className menu}}" style="text-align:center">
    </div>
    <div class="{{className subMenu}}" style="text-align:center">
    </div>
    {{>imageInformation imgInfo}}
    <canvas class="{{className canvas}}"></canvas>
</div>
